

//Diseñador nos da los datos de este archivo	
//Tipografía - Fonts
$title-principal: Arial, Helvetica, sans-serif;
//$title-second: (font);
//$parrafos: (font);

//Variables
//$light: 300;
//$regular: 400;
//$bold: entre 700;
//$extrabold: 900;

//Colores

$color-primary: #124485;
$color-secondary: #004aad;
//$background-color: #123123;

//EJEMPLO PARA TODO UN SECTOR POR EJ: BACKGROUND
//$background-banner-index: url('../assets/banner-background.jpg');